/* fonts */
@font-face {
    font-family: "Berlin Sans FB Demi";
    src: url("../assets/brlnsdb.ttf");
}

/* window elements */
.pane {
    -fx-background-color: teal;
    -fx-background-radius: 80px;
    -fx-border-radius: 80px;
    -fx-border-color: deeppink;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(gaussian, black, 90, 0.5, 0, 0);
}

.button {
	-fx-background-color: rgba(100,100,100,0.2);
	-fx-background-radius: 100;
	-fx-border-style: solid;
	-fx-border-color: white;
	-fx-text-fill: white;
	-fx-border-width: 1.5px;
	-fx-border-radius: 100;
	-fx-font-family: "Berlin Sans FB Demi";
	-fx-font-size: 35px;
}

.button:hover {
	-fx-background-color: rgba(0,0,0,0.5);
}

.button:pressed {
	-fx-background-color: rgba(255,255,255,0.9);
	-fx-text-fill: black;
}

.label {
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-font-size: 70px;
    -fx-text-fill: gold;
}
