/* fonts */
@font-face {
    font-family: "Berlin Sans FB Demi";
    src: url("../assets/brlnsdb.ttf");
}

/* scene elements */
.pane {
    -fx-background-image: url("../assets/blur_theme.jpg");
    -fx-background-size: 100% 100%;
}

.title-1 {
    -fx-text-fill: black;
}

.title-2 {
    -fx-text-fill: white;
}


/* initiative scale */
* {
    -common-color: gold;
}

.scale {
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-base: transparent;
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-background-radius: 20;
    -fx-border-color: -common-color;
    -fx-border-width: 3px;
    -fx-border-radius: 20;
    -fx-border-insets: -1;
}

.scale .placeholder {
    visibility: hidden;
}

.scale .table-row-cell {
    -fx-cell-size: 30px;
    -fx-font-size: 23px;
}

.scale .label {
    -fx-text-fill: -common-color;
}

.scale .cell {
  -fx-alignment: center;
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-text-fill: -common-color;
}

.scale .column-header {
    -fx-background-color: transparent;
    -fx-border-color: -common-color;
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 23px;
}

.scale .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

/* stack hboxes */
.image-pane {
    -fx-background-color: transparent;
}

.image-border-1 {
    -fx-stroke: white;
}

.image-border-2 {
    -fx-stroke: black;
}

.stack-hbox-1, .stack-hbox-2 {
    -fx-background-radius: 15;
}

.stack-hbox-1 {
    -fx-background-color: black;
}

.stack-hbox-2 {
    -fx-background-color: white;
}

.stack-info-1, .stack-info-2 {
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-font-size: 20px;
}

.stack-info-1 {
    -fx-text-fill: white;
}

.stack-info-2 {
    -fx-text-fill: black;
}

.battle-tooltip {
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-font-size: 20px;
    -fx-text-fill: yellow;
    -fx-show-delay: 500ms;
    -fx-show-duration: indefinite;
    -fx-hide-delay: 0ms;
    -fx-border-color: darkorchid;
    -fx-border-radius: 30;
    -fx-border-width: 3px;
    -fx-border-insets: -1;
    -fx-background-radius: 30;
    -fx-background-color: rgba(30,144,255,0.8);
}

/* highlights */
.actor-highlight {
    -fx-effect: dropshadow(gaussian, lime, 15, 0.7, 0, 0);
}

.target-highlight {
    -fx-effect: dropshadow(gaussian, red, 15, 0.7, 0, 0);
}

.dead-highlight {
    -fx-effect: dropshadow(gaussian, darkblue, 15, 0.7, 0, 0);
}

.resurrection-highlight {
    -fx-effect: dropshadow(gaussian, gold, 15, 0.7, 0, 0);
}

/* action buttons */
.attack-button, .defense-button, .give-up-button, .skill-button , .wait-button {
    -fx-background-color: transparent;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 5px;
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-font-size: 40px;
}

/* attack */
.attack-button, .attack-button:pressed {
    -fx-background-size: 70px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 175px 18px;
}

.attack-button {
    -fx-background-image: url("../assets/attack.png");
    -fx-border-color: orange;
    -fx-text-fill: orange;
}

.attack-button:hover {
    -fx-background-color: rgba(220,160,70,0.3);
}

.attack-button:pressed {
    -fx-background-image: url("../assets/attack_pressed.png");
    -fx-background-color: orange;
    -fx-text-fill: #3AAACF;
}

/* defense */
.defense-button, .defense-button:pressed {
    -fx-background-size: 70px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 195px 15px;
}

.defense-button {
    -fx-background-image: url("../assets/defense.png");
    -fx-border-color: rgba(190,190,190,1);
    -fx-text-fill: rgba(190,190,190,1);
}

.defense-button:hover {
    -fx-background-color: rgba(128,128,128,0.4);
}

.defense-button:pressed {
    -fx-background-image: url("../assets/defense_pressed.png");
    -fx-background-color: rgba(190,190,190,1);
    -fx-text-fill: rgba(65,65,65,1);
}

/* give up */
.give-up-button {
    -fx-border-color: white;
    -fx-text-fill: white;
}

.give-up-button:hover {
    -fx-background-color: rgba(255,255,255,0.3);
}

.give-up-button:pressed {
    -fx-background-color: white;
    -fx-text-fill: black;
}

/* skill */
.skill-button, .skill-button:pressed {
    -fx-background-size: 65px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 250px 18px;
}

.skill-button {
    -fx-background-image: url("../assets/skill.png");
    -fx-border-color: rgba(18,210,195,1);
    -fx-text-fill: rgba(18,210,195,1);
}

.skill-button:hover {
    -fx-background-color: rgba(172,253,255,0.15);
}

.skill-button:pressed {
    -fx-background-image: url("../assets/skill_pressed.png");
    -fx-background-color: rgba(18,210,195,1);
    -fx-text-fill: #d23f12;
}

/* wait */
.wait-button {
    -fx-border-color: rgba(205,192,178,1);
    -fx-text-fill: rgba(205,192,178,1);
}

.wait-button:hover {
    -fx-background-color: rgba(198,192,183,0.3);
}

.wait-button:pressed {
    -fx-background-color: rgba(205,192,178,1);
    -fx-text-fill: rgba(81,179,179,1);
}

/* round info */
.info {
    -fx-background-color: palegreen;
    -fx-border-color: rgba(250,33,78,1);
    -fx-text-fill: rgba(250,33,78,1);
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-font-size: 65px;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 10px;
    -fx-border-insets: -2;
}

/* change element */
.change-pos, .change-neg {
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-font-size: 70px;
}

.change-pos {
    -fx-text-fill: lime;
}

.change-neg {
    -fx-text-fill: red;
}
